@charset 'UTF-8';

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
    background-color: #5f2c82;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

div#imagem {
    display: block;
    width: 100%;
    height: 30%;
    background: #5f2c82 url(../images/metal.jpg) left bottom no-repeat;
    background-size: cover;
}

div#formulario {
    display: block;
    padding: 10px;
}

form > div.campo {
    background-color: #5f2c82;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div#formulario > h1 {
    font-size: 1.2em;
    font-weight: bolder;
    text-align: center;
    margin: 10px;
}

div#formulario > p {
    text-align: center;
    margin: 10px;
}

form label {
    display: none;
}

div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #94cfcd;
    border: none;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 95%;
    border-radius: 8px;
    transform: translateY(-11px);
}

div.campo > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #49a09d8c;
}

form > a#botão {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    text-decoration: none;
    background-color: white;
    color: #2d6462;
    border: 1px solid #49a09d;
    border-radius: 5px;
}

form > a#botão:hover {
    background-color: #6cd3cf;
}

form > a#botão > span {
    font-size: 0.9em;
}

@media screen and (min-width: 992px) {
    section#login {
        width: 900px;
        height: 320px;
    }

    div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    div#formulario {
        float: left;
        width: 50%;
        height: 100%;
    }

    div#formulario > h1 {
        font-size: 1.5em;
    }

    div#formulario > p {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {

    body {
        background: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 600px;
        height: 280px;
    }

    div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    div#formulario {
        float: right;
        width: 70%;
        height: 100%;
    }
}